In [1]:
import pandas as pd
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [2]:
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [4]:
train_df.shape

(8693, 14)

In [5]:
test_df.shape

(4277, 13)

In [6]:
train_df.isnull().sum().sum()

2324

In [7]:
test_df.isnull().sum().sum()

1117

In [8]:
train_df = train_df.dropna()
train_df.shape

(6606, 14)

In [9]:
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [10]:
train_df.isnull().sum().sum()

0

In [11]:
test_df = test_df.dropna()
test_df.shape

(3281, 13)

In [12]:
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [13]:
test_df.isnull().sum().sum()

0

In [14]:
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [15]:
X = train_df.iloc[:,:-1]
y = train_df.iloc[:,-1]

In [16]:
class_mapping = {True: 1, False: 0}
y = y.map(class_mapping)
y

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 6606, dtype: int64

In [17]:
X.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
dtype: object

In [18]:
ohe_columns = ["PassengerId", "HomePlanet", "CryoSleep", "Cabin", "Destination", "VIP", "Name"]
X = pd.get_dummies(X, columns = ohe_columns)
X.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,PassengerId_0001_01,PassengerId_0002_01,PassengerId_0003_01,PassengerId_0003_02,...,Name_Zinonon Veriedeezy,Name_Zinopus Spandisket,Name_Zinor Axlentindy,Name_Zinor Proorbeng,Name_Zinoth Lansuffle,Name_Zosmark Trattle,Name_Zosmark Unaasor,Name_Zosmas Ineedeve,Name_Zosmas Mormonized,Name_Zubeneb Pasharne
0,39.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,24.0,109.0,9.0,25.0,549.0,44.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,16.0,303.0,70.0,151.0,565.0,2.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
X.shape

(6606, 18517)

In [46]:
from sklearn.feature_selection import RFE
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.pipeline import Pipeline

In [47]:
mo = RandomForestClassifier()
rfe = RFE(mo, n_features_to_select=15, step=0.05)
selected_features = rfe.fit_transform(X, y)
selected_feature_names = X.columns[rfe.support_]
print("Selected features:", selected_feature_names)

Selected features: Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'HomePlanet_Earth', 'HomePlanet_Europa', 'HomePlanet_Mars',
       'CryoSleep_False', 'CryoSleep_True', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'VIP_False'],
      dtype='object')

In [35]:
X = pd.DataFrame(X, columns = selected_feature_names)
X.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False
0,39.0,0.0,0.0,0.0,0.0,0.0,0,1,0,1,0,0,0,1,1
1,24.0,109.0,9.0,25.0,549.0,44.0,1,0,0,1,0,0,0,1,1
2,58.0,43.0,3576.0,0.0,6715.0,49.0,0,1,0,1,0,0,0,1,0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,1,0,0,0,1,1
4,16.0,303.0,70.0,151.0,565.0,2.0,1,0,0,1,0,0,0,1,1

In [36]:
X.shape

(6606, 15)

In [37]:
test_ohe_columns = ["PassengerId", "HomePlanet", "CryoSleep", "Cabin", "Destination", "VIP", "Name"]
test_ohe = pd.get_dummies(test_df, columns = test_ohe_columns)
test_ohe = pd.DataFrame(test_ohe, columns = selected_feature_names)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [38]:
from sklearn.model_selection import GridSearchCV
param_grid_logistic = {
    'n_estimators':[50, 100, 150, 200],
    'max_depth':[3, 5, 7, 9]
}

pre_model = GradientBoostingClassifier(random_state=123)
gs1 = GridSearchCV(
          estimator=pre_model,
          param_grid=param_grid_logistic,
          scoring='f1', #auc, f1
          cv=3,
          return_train_score=False)
gs1.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=GradientBoostingClassifier(random_state=123),
             param_grid={'max_depth': [3, 5, 7, 9],
                         'n_estimators': [50, 100, 150, 200]},
             scoring='f1')

In [39]:
gs1.best_params_

{'max_depth': 5, 'n_estimators': 50}

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid_logistic = {
    'n_estimators':[50, 100, 150, 200],
    'max_depth':[3, 5, 7, 9]
}

pre_model = GradientBoostingClassifier(random_state=123)
gs2 = GridSearchCV(
          estimator=pre_model,
          param_grid=param_grid_logistic,
          scoring='f1', #auc, f1
          cv=3,
          return_train_score=False)
gs1.fit(X_train, y_train)

In [ ]:
gs2.best_params_

In [48]:

model = GradientBoostingClassifier(max_depth = 5, n_estimators = 50, random_state=123)
model.fit(X_train, y_train)

GradientBoostingClassifier(max_depth=5, n_estimators=50, random_state=123)

In [49]:
accuracy_score(y_train, model.predict(X_train))

0.8365051903114187

In [50]:
accuracy_score(y_test, model.predict(X_test))

0.7961654894046418

In [51]:
recall_score(y_test, model.predict(X_test))

0.8381618381618382

In [52]:
precision_score(y_test, model.predict(X_test))

0.7761332099907493

In [53]:
f1_score(y_test, model.predict(X_test))

0.8059558117195005

In [41]:
import pickle

In [42]:
# 学習済みモデルを保存
model_comp = model# ここに学習済みモデルを代入
with open('my_model.pickle', 'wb') as f:
    pickle.dump(model_comp, f)

In [44]:
test_df.dtypes
passenger_ids = test_df['PassengerId']  # passenger_id列を取得

In [45]:
test_ohe_columns = ["PassengerId", "HomePlanet", "CryoSleep", "Cabin", "Destination", "VIP", "Name"]

In [46]:
test_ohe = pd.get_dummies(test_df, columns = test_ohe_columns)

In [47]:
test_ohe.shape

(3281, 9247)

In [48]:
test_ohe = pd.DataFrame(test_ohe, columns = selected_feature_names)

In [49]:
test_ohe.shape

(3281, 15)

In [50]:
test_ohe.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False
0,27.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0,0,1,1
1,19.0,0.0,9.0,0.0,2823.0,0.0,1,0,0,1,0,0,0,1,1
2,31.0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,1,1,0,0,1
3,38.0,0.0,6652.0,0.0,181.0,585.0,0,1,0,1,0,0,0,1,1
4,20.0,10.0,0.0,635.0,0.0,0.0,1,0,0,1,0,0,0,1,1

In [59]:
import joblib
# 学習済みモデルを読み込む
loaded_model = joblib.load('my_model.pickle')

# 予測を実行
predictions = loaded_model.predict(test_ohe)

In [61]:
# データフレームを作成
result_df = pd.DataFrame({'PassengerId': passenger_ids, 'Transported': predictions})

# CSVファイルに保存
result_df.to_csv('Titanic.csv', index=False)

In [62]:
comp = pd.read_csv("Titanic.csv")

In [63]:
comp.head()

  PassengerId  Transported
0     0013_01            1
1     0018_01            0
2     0019_01            1
3     0021_01            1
4     0023_01            0

In [66]:
class_mapping = {1: True, 0: False}
X = comp.iloc[:,:-1]
y = comp.iloc[:,-1]

In [70]:
y = y.map(class_mapping)

In [71]:
y

0        True
1       False
2        True
3        True
4       False
        ...
3276     True
3277     True
3278     True
3279     True
3280    False
Name: Transported, Length: 3281, dtype: bool

In [74]:
# Xとyを結合
combined_df = pd.concat([X, y], axis=1)

In [75]:
combined_df

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
3276     9263_01         True
3277     9265_01         True
3278     9266_01         True
3279     9266_02         True
3280     9277_01        False

[3281 rows x 2 columns]

In [76]:
combined_df.to_csv('improve_Titanic.csv', index=False)